body {
    width: 90%;
    margin: 0 auto;
}

/******************************
Main Container/Wrapper
******************************/
main {
    margin: 0 auto;
    padding: 1em;
}
  
/******************************
  Biography
******************************/
.bio {
  display: flex;
  margin: 0;
  margin-bottom: 5rem;
}

.me {
  width: 27%;
  height: 27%;
}

p {
  margin-top: 0;
}

.desc {
  font-size: 1.2rem;
  width: 60%;
  margin-left: 1.5rem;
  vertical-align:top;
}

/******************************
  Lightbox Gallery
******************************/
a img {
  width: 216px;
  margin-right: 2rem;
  margin-bottom: 5rem;

}

.galleryContainer {
  display: flex;
  align-items: center;
}

/******************************
  Lightbox Gallery
******************************/
form {
  background-image: url(../img/matcha.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 1rem;
  color: white;
}